<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getName()}"></title>
</head>
<body>
<p th:text="'Hello, ' + ${user.getName()} + '. This is your own page.'"></p>
<div>
    <p th:text="'Name = ' + ${user.getName()}"/>
    <p th:text="'Age = ' + ${user.getAge()}"/>
    <p th:text="'Status = ' + ${user.getStatus()}"/>
    <p th:text="'You have next roles:'"/>
    <div th:each="role : ${user.getRoles()}">
        <p th:text="${role}"/>
    </div>
</div>
<form th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
<br/>
</body>
</html>